.button {
  padding: 0.7em 3.5em;
  background: $green;
  font-size: 1rem;
  font-weight: bold;

  &:hover,
  &:focus,
  &:active {
    background: darken($green, 10%);
  }

  &.primary-cta {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &.secondary-cta {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}