.main-footer {
  padding: 120px 0 40px;
  background: linear-gradient(rgba($off-white, 0), rgba($off-white, 1));
}

.main-footer--logo {
  max-width: 90px;
  max-height: 90px;
  margin: 0 15px;
}

.main-footer--logo-text {
  margin: 20px 0 40px;
  font-size: 12px;
  font-style: italic;
  color: lighten($body-text, 25%);
}

.main-footer--copyright {
  display: inline-block;
}

.main-footer--links {
  list-style: none;

  @media (min-width: 640px) {
    float: right;
  }

  & > li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.main-footer--link {
  color: $green;

  &:hover,
  &:focus,
  &:active {
    color: darken($green, 15%);
  }
}
