// sidebar layout styles
.container__has-sidebar {
  margin-top: 40px;
}

.sidebar--heading {
  margin-left: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: lighten($body-text, 35%);

  & > em {
    display: block;
    margin-top: 6px;
    font-style: normal;
    text-transform: none;
    font-size: 18px;
    color: $heading-color;
  }
}

.sidebar--links {
  margin: 30px 0 0 10px;
  list-style: none;

  & > li {
    margin-bottom: 8px;
  }
}

.sidebar--link {
  position: relative;
  color: $body-text;
  transition: color 0.2s ease;

  &:hover,
  &:focus,
  &:active,
  &.is-active {
    color: $green;
  }

  &.is-active {
    font-weight: bold;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -16px;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 9px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: $green;
    }
  }
}

.sidebar--footer {
  margin: 60px 0;

  & > .button {
    margin-bottom: 0;
  }
}

.sidebar--footer--back {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  color: lighten($body-text, 25%);
  transition: color 0.2s ease;

  &:hover,
  &:focus,
  &:active {
    color: $body-text;
  }
}

// callouts
.callout {
  border: none;
  margin: 23px 0;
  box-shadow: 0 0 16px lighten($grey, 50%);
  border-radius: 5px;
}

.callout--title {
  margin-bottom: 8px;
  font-size: 13px;
  text-transform: uppercase;
  color: lighten($body-text, 35%);
}
