$nav-breakpoint: 650px;

#main-nav {
  position: relative;
  padding: 30px 0;

  @media (min-width: $nav-breakpoint) {
    text-align: center;
  }
}

.main-nav--logo {
  & > img {
    max-width: 70px;

    @media (min-width: $nav-breakpoint) {
      max-width: 110px;
    }
  }
}

.main-nav--links {
  position: absolute;
  z-index: 3;
  list-style-type: none;
  margin: 0;
  left: 110px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $nav-breakpoint) {
    left: 60%;
    left: calc(50% + 100px);
  }

  & > li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.main-nav--link {
  color: $green;

  &:hover,
  &:focus,
  &:active {
    color: darken($green, 10%);
  }
}

.main-nav--github {
  position: absolute;
  display: block;
  right: -20px;
  top: -20px;
  width: 220px;
  height: 220px;

  @media (min-width: $nav-breakpoint) {
    right: 0;
    top: 0;
    width: 220px;
    height: 220px;
  }
}
