// colors
$grey: #5C6670;
$grey-dark: #595A59;
$green: #5CA645;
$orange: #E87F51;
$white: #FFFFFF;
$off-white: #F4F9FC;

$body-text: $grey;
$heading-color: darken($grey, 15%);

// fonts
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Sans+Pro:400,600|Varela+Round');

$body-font: "Source Sans Pro", "Helvetica Neue", Helvetica, arial, sans-serif;
$heading-font: "Varela Round", "Helvetica Neue", Helvetica, arial, sans-serif;
$mono-font: "Droid Sans Mono", "Lucida Console", Monaco, monospace;
