body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $heading-font;
}

p {
  color: $body-text;

  a {
    color: $green;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: darken($green, 10%);
    }
  }

  code {
    padding: 0;
    border: none;
    color: $orange;
    background: transparent;
    font-family: $mono-font;
    font-size: 0.9em;
  }
}

.body-heading {
  margin-top: 10px;
  font-size: 18px;

  .docs & {
    margin-bottom: 30px;
  }
}

pre {
  margin: 23px 0;
  font-family: $mono-font;
  background: $grey-dark;
  color: $white;
  font-size: 0.8em;
  padding: 20px;
  border-radius: 5px;


  & > code {
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
  }
}