*.gem
*.rbc
.bundle
.config
.yardoc
binstubs
Gemfile*.lock
Gemfile.local
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rvmrc
.rbenv-version
.ruby-version
.project
.DS_Store
.kitchen/
.kitchen.yml
.kitchen.local.yml
kitchen.yml
kitchen.local.yml
Berksfile.lock
*.swp
*~
.sass-cache
_site/
_cache
.tddium*
docs/public

