*.gem
*.rbc
.bundle
.config
.yardoc
binstubs
Gemfile*.lock
Gemfile.local
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rvmrc
.rbenv-version
.ruby-version
.envrc
.direnv/
.project
.DS_Store
.kitchen/
.kitchen.local.yml
kitchen.local.yml
Berksfile.lock
Policyfile.lock.json
*.swp
*~
.sass-cache
_site/
_cache
.tddium*
docs/public
.idea/
docs/.hugo_build.lock
