.home--hero {
  margin: 30px auto 50px;
}

.home--heading {
  font-size: 36px;
  margin-bottom: 20px;
}

.home--image-row {
  @media (max-width: 1023px) {
    margin-top: 30px;
  }
}

.home--text {
  width: 90%;
}

.home--terminal {
  position: relative;
  z-index: 3;
  border-radius: 5px;
  width: 90%;

  @media (max-width: 639px) {
    width: 100%;
    max-width: 320px;
  }

  @media (min-width: 640px) {
    left: -10px;
  }

  @media (max-width: 639px), (min-width: 1024px) {
    margin-bottom: 30px;
  }
}

.home--markdown {
  position: relative;
  z-index: 3;
  border-radius: 5px;
  width: 90%;
  text-align: left;
  float: right;
}

.home--text--rightcol {
  width: 90%;
  margin-top: 30px;
}

.home--logos {
  position: relative;
}

.home--logos--img {
  position: relative;
  left: -15px;

  @media (min-width: 640px) {
    position: absolute;
    left: -27px;
    max-width: 112%;
  }
}
