<footer>
  <div class="container">
    <p>Test Kitchen is maintained and funded by Opscode, Inc. Questions? Tweet <%= twitter '@fnichol' %>, <%= twitter '@schisamo' %>, or <%= twitter '@sethvargo' %>.</p>
    <p>Test Kitchen is Copyright &copy; 2012-<%= Time.now.strftime('%Y') %> Opscode, Inc. It is free software, and may be redistributed under the terms of the Apache 2.0 License.</p>
  </div>
</footer>
