<header>
  <div class="container">
    <h1 class="logo"><%= link_to 'Test Kitchen', '/' %></h1>
    <div class="buttons">
      <%= link_to 'GitHub', 'https://github.com/opscode/test-kitchen' %>
      <%= link_to 'Docs', '/docs' %>
    </div>
  </div>
</header>
