---
title: Test Kitchen - An Infrastructure Testing Framework
---

<div class="callout">
  <div class="container">
    <h2>An infrastructure testing framework for Chef.</h2>
    <div class="terminal">
      <div class="titlebar">
        <span class="orb red"></span>
        <span class="orb yellow"></span>
        <span class="orb green"></span>
      </div>
       <div class="body">$ kitchen test
<span class="green">-----> Testing &lt;create-if-missing-ubuntu-1210&gt;</span>
<span class="green">-----> Creating &lt;default-ubuntu-1204&gt;</span>
<span class="green">-----> Converging &lt;default-ubuntu-1204&gt;</span>
Uploaded tmux/metadata.rb (259 bytes)
Uploaded tmux/README.md (914 bytes)
Uploaded tmux/recipes/default.rb (680 bytes)
Uploaded tmux/templates/default/tmux.conf.erb (431 bytes)
Starting Chef Client, version 11.6.0
[2013-05-15T19:07:52+00:00] INFO: *** Chef 11.6.0 ***
[2013-05-15T19:07:52+00:00] INFO: Setting the run_list to ["tmux::default"] from JSON
[2013-05-15T19:07:52+00:00] INFO: Run List is [recipe[tmux::default]]
[2013-05-15T19:07:52+00:00] INFO: Run List expands to [tmux::default]
[2013-05-15T19:07:52+00:00] INFO: Starting Chef Run for default-ubuntu-1204
[2013-05-15T19:07:52+00:00] INFO: Running start handlers
[2013-05-15T19:07:52+00:00] INFO: Start handlers complete.
Compiling Cookbooks...</span></div>
    </div>
  </div>
</div>

<section class="overview">
  <div class="container">
    <h4>Driver agnostic</h4>
    <p>Test Kitchen abstracts machine creation to drivers, such as kitchen-vagrant, kitchen-ec2, and kitchen-docker.</p>

    <h4>YAML-based configuration</h4>
    <p>Section here on why YAML is awesome...</p>
  </div>
</section>

<section class="usage">
  <div class="container">
    <h3>Usage &amp; Installation</h3>
    <p>Test Kitchen is distributed as a Ruby gem. To get started, install the gem from RubyGems:</p>
    <% code('text') do %>$ gem install test-kitchen<% end %>

    <p>Test Kitchen includes a command line utility "<code>kitchen</code>". Bootstrap your cookbook using the <code>kitchen init</code> command from inside your Chef cookbook:</p>
    <% code 'text' do %>$ kitchen init
      create  .kitchen.yml
      create  test/integration/default
         run  gem install kitchen-vagrant from "."<% end %>

    <p>By default, Test Kitchen will use the Vagrant driver. For more information on Test Kitchen drivers, please see the <a href="/docs/drivers">Test Kitchen Driver documentation</a>.</p>

    <p>Examine the <code>.kitchen.yml</code> file created in the root of your Chef cookbook. This file defines the driver configuration, platforms, and test suites to execute.</p>
    <% code 'yaml' do %>driver_plugin: vagrant
driver_config:
  require_chef_omnibus: true

platforms:
  - name: ubuntu-12.04

suites:
  - name: default
    run_list:
      - recipe[bacon::default]<% end %>

    <p>See the <a href="/docs/configuration">Configuration</a> section for more information on the <code>.kitchen.yml</code> and other configuration options. For now, we can just use the default values</p>

    <p>Finally, run the <code>kitchen test</code> command to run Test Kitchen:</p>

    <% code 'text' do %>$ kitchen test<% end %>
  </div>
</section>

<section class="marketing">
  <div class="container">
    <h3>Who's using it?</h3>
    <ul class="logos">
      <li>
        <a href="https://www.opscode.com"><%= image_tag('logos/opscode.png') %></a>
        <a href="http://hw-ops.com/"><%= image_tag('logos/heavywater.png') %></a>
        <a href="http://adobe.com/"><%= image_tag('logos/adobe.png') %></a>
      </li>
    </ul>
  </div>
</section>
