---
title:  Welcome to Kitchen - KitchenCI
---
.home--hero.row
  .columns.medium-12.text-center
    h1.home--heading Infrastructure Code Deserves Tests Too
    = link_to 'Get Started', '/docs/getting-started', \
      class: 'button primary-cta'
.row.content
  .columns.large-4
    .home--text
      h2.body-heading What is Kitchen?
      p
        | Kitchen provides a test harness to execute infrastructure code on one
          or more platforms in isolation.
      p
        | A driver plugin architecture is used to run code on various cloud
          providers and virtualization technologies such as
          <a href="https://rubygems.org/gems/kitchen-ec2">Amazon EC2</a>,
          <a href="https://rubygems.org/gems/kitchen-google">Google GCE</a>,
          <a href="https://rubygems.org/gems/kitchen-azurerm">Azure</a>,
          <a href="https://rubygems.org/gems/kitchen-bluebox">Blue Box</a>,
          <a href="https://rubygems.org/gems/kitchen-cloudstack">CloudStack</a>,
          <a href="https://rubygems.org/gems/kitchen-digitalocean">Digital Ocean</a>,
          <a href="https://rubygems.org/gems/kitchen-rackspace">Rackspace</a>,
          <a href="https://rubygems.org/gems/kitchen-openstack">OpenStack</a>,
          <a href="https://rubygems.org/gems/kitchen-vagrant">Vagrant</a>,
          <a href="https://rubygems.org/gems/kitchen-docker">Docker</a>,
          <a href="https://rubygems.org/gems/kitchen-lxc">LXC containers</a>,
          and more.
      p
        | Many testing frameworks are supported out of the box including
          <a href="https://www.inspec.io/">InSpec</a>,
          <a href="//serverspec.org/">Serverspec</a>, and
          <a href="https://github.com/sstephenson/bats">Bats</a>

      p
        | For Chef workflows, cookbook dependency resolution via
          <a href="https://docs.chef.io/berkshelf.html/">Berkshelf</a> or
          <a href="https://docs.chef.io/config_rb_policyfile.html">Policyfiles</a>
          is supported or include a <code>cookbooks/</code> directory and
          Kitchen will know what to do.
      p
        | Kitchen is used by all
          <a href="github.com/chef-cookbooks/">Chef-managed community
          cookbooks</a> and is the integration testing tool of choice for
          cookbooks.
  .columns.large-8
    .row.home--image-row
      .columns.medium-6.medium-text-right
        div.home--markdown
          markdown:
            ~~~yaml
            ---
            driver:
              name: vagrant

            provisioner:
              name: chef_zero

            platforms:
              - name: ubuntu-14.04
              - name: windows-2012r2

            suites:
              - name: client
                run_list:
                  - recipe[postgresql::client]
              - name: server
                run_list:
                  - recipe[postgresql::server]
            ~~~
      .columns.medium-6.home--logos
        img.home--logos--img src="/images/logos-group.svg" onerror="this.src='/images/logos-group.png'" margin-left="0px"
    .row.home--image-row
      .columns.medium-6.medium-text-right
        div.home--markdown
          markdown:
            ~~~bash
            $ kitchen create

            $ kitchen converge

            $ kitchen setup

            $ kitchen verify

            $ kitchen destroy
            ~~~
      .columns.medium-6
        .home--text
          h2.body-heading How do I run Kitchen?
          p
            | There are five basic commands to provision platforms and test
              infrastructure code.
    .row.home--image-row
      .columns.medium-6.medium-text-right
        div.home--markdown
          markdown:
            ~~~bash
            --> Running rspec test suites

              ✔ git binary is found in PATH

            3 tests, 2 failures

            Finished verifying

            <default-ubuntu-1404> (0m0.98s).

            --> Destroying

            --> Kitchen is finished.
            (1m44.11s)
            ~~~
      .columns.medium-6
        .home--text
          h2.body-heading How do I get started?
          p
            | Install the <a href="https://downloads.chef.io/chefdk/">Chef
              Development Kit (ChefDK)</a> to get started.  Alternatively,
              install the gem directly with <code>gem install
              test-kitchen</code>.

          = link_to 'Get Started', '/docs/getting-started', class: 'button secondary-cta'
